<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--BOOTSTRAP-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--BOOTSTRAP-->

    <!--CSS styles-->
    <link rel="stylesheet" type="text/css" href="usermainpage.css" />
    <!--CSS styles-->

</head>

<body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="usermainpage.html">Welcome user</a>
        </div>
    </nav>
    <!--Navigation Bar-->

    <!--Main Layout-->
    <div id=mainpage>
        <div class="container-fluid" style="padding-top: 65px;">
            <div class="row">
                <div class="col">
                    <hr class="my-4"><br>
                    <form>
                        <p class="lead">Εδω μπορεις να ανεβασεις τα har αρχεια σου!</p>
                        <input type="file" id="myFile" name="filename">
                        <input type="submit">
                    </form>
                </div>
                <div class="col-7">
                    <hr class="my-4">
                </div>
                <div class="col">
                    <hr class="my-4">
                    <p class="lead" style="margin-bottom: 0%;">Username:</p><br>
                    <a href="">Αλλαγή username</a>
                    <p class="lead" style="padding-top: 5px;  margin-bottom: 0%;">Password:</p><br>
                    <a href="">Αλλαγή password</a>
                    <p class="lead" style="padding-top: 5px;">Last upload:</p>


                </div>
            </div>
        </div>
    </div>
    <!--Main Layout-->
</body>
</html>